<br>
<br>
<br>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido paterno</th>
    <th scope="col">Apellido materno</th>
    <th scope="col">Estatus</th>
    <th scope="col">Detalles</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let prospecto of generateArray(arr)">
    <td>{{prospecto.id}}</td>
    <td>{{prospecto.name}}</td>
    <td>{{prospecto.apellidop}}</td>
    <td>{{prospecto.apellidom!}}</td>    
    <div *ngIf="prospecto.estatus =='E'">
        <td><a class="btn btn-warning"> <fa-icon [icon]="faShare"></fa-icon></a></td>
    </div>
    <div *ngIf="prospecto.estatus =='A'">
        <td><a class="btn btn-info"> <fa-icon [icon]="faCheck"></fa-icon></a></td>
    </div>
    <div *ngIf="prospecto.estatus =='R'">
        <td><a class="btn btn-danger"> <fa-icon [icon]="faTimes"></fa-icon></a></td>
    </div>
    <td><a (click)="detalles(prospecto.id)" class="btn btn-primary"> <fa-icon [icon]="faList"></fa-icon></a></td>
  </tr>
  </tbody>
</table>
<div class="alert alert-primary" *ngIf="arr.length === 0" style = "text-align:center;">No se encuentran datos registrados</div>
<br>
<br>
<br>