<br>
<h3 class="text-center">Informacion del prospecto</h3>
<div class="shadow">
        <div class="container">
        <br>
        <div class="row" style="margin-left: 10px" >
            <label for="">ID: </label>  
            <input id="address" placeholder="{{prospectodetail.id}}" class="form-control" type="text"  readonly>          
        </div>
        <div class="row" style="margin-left: 10px" >
                <label for="">Nombre:</label>
                <input id="address" placeholder=" {{prospectodetail.name}}" class="form-control"  type="text"  readonly> 
        </div>
        <div class="row" style="margin-left: 10px" >
                <label for="">Apellido paterno: </label>
                <input id="address" placeholder="{{prospectodetail.apellidop}}" class="form-control"  type="text"  readonly> 
        </div>
        <div class="row" style="margin-left: 10px" >
                <label for="">Apellido materno: </label>       
                <input id="address" placeholder="{{prospectodetail.apellidom}}" class="form-control" type="text"  readonly>      
        </div>
        <div class="row" style="margin-left: 10px" >
                <label for="">Calle:</label>
                <input id="address" placeholder=" {{prospectodetail.calle}}" class="form-control"  type="text" readonly> 
        </div>
        <div class="row" style="margin-left: 10px" >
                <label for="">Número:  </label>
                <input id="address" placeholder="{{prospectodetail.numero}}" class="form-control"  type="text" readonly> 
        </div>
        <div class="row" style="margin-left: 10px" >
                <label for="">Colonia: </label>
                <input id="address" placeholder="{{prospectodetail.colonia}}" class="form-control"  type="text"  readonly> 
        </div>
        <div class="row" style="margin-left: 10px" >
                <label for="">CP: </label>
                <input id="address" placeholder="{{prospectodetail.codigopostal}}" class="form-control"  type="text"  readonly>             
        </div>
        <div class="row" style="margin-left: 10px" >
                <label for="">Teléfono: </label>
                <input id="address" placeholder="{{prospectodetail.telefono}}" class="form-control"  type="text" readonly> 
        </div>
        <div class="row" style="margin-left: 10px" >
                <label for="">RFC: </label>
                <input id="address" placeholder="{{prospectodetail.rfc}}" class="form-control"  type="text"  readonly> 
        </div>
        <br>
        <div class="row" style="margin-left: 10px" >
                <label for="">Estatus: </label>
                <div *ngIf="prospectodetail.estatus =='E'">
                                <a style="margin-left: 10px" class="btn btn-warning"> <fa-icon [icon]="faShare"></fa-icon></a>
                </div>
                <div *ngIf="prospectodetail.estatus =='A'">
                        <a style="margin-left: 10px" class="btn btn-primary"> <fa-icon [icon]="faCheck"></fa-icon></a>
                </div>
                <div *ngIf="prospectodetail.estatus =='R'">
                        <a  style="margin-left: 10px" class="btn btn-danger"> <fa-icon [icon]="faTimes"></fa-icon></a>
                </div>
        </div>
        <br>
        <div class="row" style="margin-left: 10px" >
                <label for="">Documento: </label>
                <a style="margin-left: 10px"  href="http://localhost:3000/{{prospectodetail.documento}}"><fa-icon transform="grow-10" [icon]="faFilePdf"></fa-icon></a>
        </div>
        <div *ngIf="prospectodetail.estatus =='R'" class="row" style="margin-left: 10px" >
                <label for="">Observaciones: </label>
                <input id="address" placeholder="{{prospectodetail.observacion}}" class="form-control"  type="text" readonly> 
        </div>
        <div class="row" style="margin-left: 10px" >
                        <label for="">Fecha de registro: </label>
                        <input id="address" placeholder="{{prospectodetail.createdAt | date:'medium'}}" class="form-control"  type="text"  readonly> 
        </div>
        <br>
        <div class="row" style="margin-left: 10px" >
            <a routerLink="/listado" class="btn btn-danger"> Regresar </a>
        </div>
        
        </div>
</div>
<br>
<br>
<br>
<br>