<nav class="navbar navbar-light">
  <div class="container-fluid">
    CAPTURA DE PROSPECTOS  
</div>
   
</nav>
<ul class="nav nav-tabs">
        <li class="nav-item" style="width:33.3%">
          <a class="nav-link" routerLink="/captura"  routerLinkActive="active">Datos</a>
        </li>
        <li class="nav-item" style="width:33.3%">
          <a class="nav-link" routerLink="/listado"  routerLinkActive="active">Listado</a>
        </li>
        <li class="nav-item" style="width:33.3%">
          <a class="nav-link" routerLink="/evaluacion" routerLinkActive="active">Evaluación</a>
        </li>
</ul>
<router-outlet></router-outlet>

